@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');


body {
    background-color: #fafafa;
    font-size: 120%;
}

#home-page {
    background-image: url("../images/abstract-bg.png");
    background-repeat: repeat;
}

.page-top {
    margin-top: 75px;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Prata', serif;
    text-align: center;
    font-size: 200%;
}




section {
    margin-bottom: 50px;
    background-color: #fafafa;

}



.flashes {
    list-style: none;
    color: black;
    font-weight: 500;
    text-align: center;
}

/* base.html */

/* header */

#head {
    height: 30vh;
    margin: 1rem 1rem 0 1rem;
}

#top-background {
    background-color: #c3564a;
}

.navbar {
    margin: 0;
    padding: 0;

}

/* search in navbar */
.input-field input[type=search] {
    border: 1px solid #FFF5EB;
    margin-top: 8px;
    border-radius: 5%;
    background-color: #fafafa;
}

.input-field i {
    color: #FAFAFA;
}

input[type="search"]:focus {
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
}

/* Title logo - hover*/
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #372b33;
    font-family: 'Prata', serif;
}

/* Title logo */
.navbar-light .navbar-brand {
    color: #fafafa;
    font-size: 300%;
    font-family: 'Prata', serif;
    margin-left: 30px;
}


.nav-link:hover {
    font-weight: bolder;
}

.navbar-light .navbar-nav .active>.nav-link {
    text-decoration: underline;
    color: white;
}

/* menu links */
#navbarNav a {
    color: #fafafa;
    font-size: 100%;
    letter-spacing: 1px;
    font-family: 'Prata', serif;


}

/* Footer */
#foot {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 10px;
    margin-top: 90px;
    text-align: center;
}

/* home.html */

/* Top image and text */
section {
    background-color: #fafafa;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    padding: 30px;
}


.left-text {
    padding-top: 30px;
    width: 20%;
    float: left;
    margin-top: 12vh;
}

a {
    color: #c3564a;
}

.right-text {
    padding-top: 30px;
    width: 20%;
    float: right;
    margin-top: 12vh;
}

.center-image {
    width: 100%;


}

#one {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


#landing-intro h2 {
    text-align: center;
}

#landing-intro p {
    font-family: 'Prata', serif;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    line-height: 40px;
}

.landing-sentence {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
}

#meetups-calendar {
    margin: auto;
    width: 100%;
}

#calendar {
    width: 80%;
    padding-bottom: 30px;
    margin-top: 50px;
    height: 500px;
    margin-right: 100px;
    margin-left: 100px;
}

#meetups {
    margin: auto;
    width: 80%;

}

#headingOne h2 {
    text-align: left;
}

.center-align h1 {
    text-align: center;
}

/* first carousel*/

#image-carousel-1,
#image-carousel-2 {
    height: 600px;
    padding: 2%;
}

/*-----MAP SECTION-----*/
#map {
    height: 300px;
    border: 1px solid black;
    position: relative;
    overflow: visible;
    margin-bottom: 20px;
    margin-top: 10px;


}

#maps {
    background-color: #fafafa;
    padding: 50px;
    overflow: scroll;
}

#maps p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    text-align: left;

    margin-bottom: 10px;

}

#maps h2 {
    font-family: 'Prata', serif;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#maps h3 {
    font-family: 'Prata', serif;
    color: black;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 30px;
}

.meeting-text {
    margin-bottom: 30px;
}

/*---- CONTACT SECTION ---*/
#contact {
    text-align: center;
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 50px;
}

.contact-heading {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.contact-heading h1 {
    font-family: 'Prata', serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.contact-heading p {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-form input {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    padding: 7px 0px 7px 0px;
    border: 1px solid #372b33;
    border-radius: 0;
}

.contact-form ::-webkit-input-placeholder {
    font-family: 'Didact Gothic', sans-serif;
    color: #372b33;
    font-size: 18px;
    padding-left: 10px;
}



.contact-form textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
    border: 1px solid #372b33;
    border-radius: 0;
}

.contact-form button {
    background-color: #48b78f;
    border: none;
    font-family: 'Prata', serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-radius: 0;
    margin-top: 60px;
    margin-bottom: 200px;
    margin: 0 auto;
    display: block;
}

.contact-form button:hover {
    padding-right: 25px;
    color: #372b33;
    background-color: #fafafa;
    border: 1px solid #372b33;
}

/*----CONTACT.HTML--------*/

#contact-page {
    background-color: #fafafa;
    padding: 30px;
    padding-bottom: 50px;


}

#contact-page h1 {

    font-family: 'Prata', serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-top: 100px;

}

#contact-page p {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

/*---IMAGE CAROUSELS---*/
#image-carousel-1 {
    background-color: #fafafa;
    height: 600px;
    margin-top: 50px;
}

.carousel-inner {
    height: 100%;
    
}


#carouselExampleIndicators {
    height: 100%;
}

/*----meetups page----*/
#meetups {
    margin: auto;
    width: 80%;
}

#headingOne h2 {
    text-align: left;
}

/* login and registration styling */
.template-form h1 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.center-align h1 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.template-form {
    width: 75%;
}

.template-form button {
    background-color: #48B78F;
    border: none;
    font-family: ‘Prata’, serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-radius: 0;
    margin-top: 60px;
    margin-bottom: 200px;
    margin: 0 auto;
    display: block;
}

.template-form button:hover {
    padding-right: 25px;
    color: #372B33;
    background-color: #FAFAFA;
    border: 1px solid #372B33;
}

.template-form a {
    color: rgb(63, 171, 204);
}

.btn-link {
    color: rgb(195, 84, 106);
}

/*--- media queries ----*/
@media screen and (max-width: 950px) {
    header {
        width: 100%;
        margin: 0 auto;
    }

    .navbar-light .navbar-brand {
        color: #fafafa;
        font-size: 200%;
        font-family: 'Prata', serif;

    }

    #photobox {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .left-text,
    .right-text {
        float: left;
        width: 90%;
        margin: 0 1%;
        text-align: center;
    }

    #one {
        float: left;
        width: 100%;
    }

    #landing-intro,
    #meetups-calendar {
        width: 90%;
        height: auto;
        margin: 0 3%;
        float: right;
        text-align: justify;
    }
    #landing-intro p {
    font-family: 'Prata', serif;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    line-height: normal;
    font-size: small;
   
}
 #landing-intro .landing-sentence {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

    #meetups-calendar h2 {
        text-align: center;
    }

    #calendar {
        margin: 0 auto;
        display: block;
        width: 100%;
        padding-bottom: 0;
        padding-top: 10px;
    }
  .fc-toolbar-chunk {
      font-size: 12px;
  }

    #image-carousel-2,
    #image-carousel-1 {
        margin-bottom: 0;
        height: auto;
    }
#maps h3{
    text-align: center;
    margin: 0;
}
    #maps p {
        text-align: justify;
        margin: 0;
    }
}