@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');


body {
    background-color: #fdd1d1;
    font-family: 'Montserrat', sans-serif;
}

h1 h3 {
    font-family: 'Prata', serif;
}

p {
    font-family: 'Didact Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair-Display', serif;
    color: rgb(63, 171, 204);
    text-align: center;
}


#map {
    height: 100%;
}



section {

    margin-top: 50px;

}

#flash-section {
    height: 20px;
    margin: 0;

}




.flashes {
    list-style: none;
    color: black;
    font-weight: 500;
    text-align: center;
}

/* base.html */

/* header */

#head {
    height: 30vh;
    padding: 1rem 1rem 0 1rem;
}

#head h1 {
    font-size: 550%;
    color: rgb(98, 174, 197);
    text-shadow: -1px -1px 0 rgb(247, 19, 88), 1px -1px 0 rgb(247, 19, 88), -1px 1px 0 rgb(230, 64, 114), 1px 1px 0 rgb(230, 64, 114);
}

#head h4 {
    text-decoration: underline;
    color: rgb(49, 104, 136);
}

.nav-link:hover {
    font-weight: bolder;
}

/* Footer */
#foot {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 10px;
    margin-top: 90px;
    text-align: center;

}


/* home.html */

/* Top image and text */

#photobox {
    height: 50vh;
    text-align: center;
    margin-top: 3%;
}

.left-text {
    padding-top: 30px;
    width: 20%;
    float: left;
    margin-top: 12vh;
}

.right-text {
    padding-top: 30px;
    width: 20%;
    float: right;
    margin-top: 12vh;
}

.center-image {
    width: 60%;
    margin: 10px auto;
    height: 50vh;
}

#one {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#landing-intro {
    margin-top: 5%;
}

#landing-intro h2 {
    text-align: center;
}


#meetups {
    margin: auto;
    width: 80%;
}

#headingOne h3 {
    text-align: left;
}

.center-align h1 {
    text-align: center;
}

/* first carousel*/


#image-carousel-1,
#image-carousel-2 {
    height: 80vh;
    padding: 2%;
}


/*-----MAP SECTION-----*/
#map {
    height: 100%;
    width: 90%;
    border: 1px solid black;
    position: relative;
   
    
}

#maps {
    background-color: #fafafa;
    padding:50px;
    overflow: scroll;

}

#maps p {
    font-family: 'Didact Gothic', sans-serif;
     margin-left: 30px;
     margin-bottom: 10px;
}

#maps h2 {
    font-family: 'Prata', serif;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#maps h3 {
    font-family: 'Prata', serif;
    color: black;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.meeting-text {
    margin-bottom: 30px;
}

/*---- CONTACT SECTION ---*/
#contact {
    text-align: center;
}

.contact-heading {
    width: 90%;
    margin: 0 auto;
    display: block;

}

.contact-heading h1 {
    font-family: 'Prata', serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.contact-heading p {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;


}

.contact-form input {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    padding: 7px 0px 7px 0px;
    border: 1px solid #0d1922;
    border-radius: 0;
}

.contact-form ::-webkit-input-placeholder {
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    font-size: 18px;
    padding-left: 10px;
}

.carousel-inner {
    height: 100%;
}


#carouselExampleIndicators {
    height: 100%;
}

.contact-form textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #0d1922;
    border-radius: 0;
}

.contact-form button {
    background-color: #c3546a;
    border: none;
    font-family: 'Prata', serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-radius: 0;
    margin-top: 60px;
    margin-bottom: 200px;
    margin: 0 auto;
    display: block;
}
.contact-form button:hover {
    padding-right: 25px;
    color: #0d1922;
    background-color: #fafafa;
    border: 1px solid #0d1922;
}


/*---IMAGE CAROUSELS---*/
#image-carousel-1{
    background-color: #fafafa;
    height:600px
}
