@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');

body {
    background-color: #f58d8d;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair-Display', serif;
}

#map {
    height: 100%;
}
.flashes {
    list-style: none;
    color: black;
    font-weight: 500;
    text-align: center;
}

/* base.html */

/* header */

#head {
    height: 30vh;
    padding: 2rem;
}

#foot {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}