{% extends "base.html" %}
{% block content %}

<h1> Welcome
</h1>

<section class="page-section" id="landing-intro">
    <div class="container-fluid"></div>
    <h3>Code Queens ABOUT/WELCOME</h3>
</section>
<section class="page-section" id="profile/registration">
    <div class="container-fluid">
        <h3>login</h3>
    </div>
</section>
<section class="page-section " id="meetups-calendar">
    <div class="container-fluid">
        <h3>calendar</h3>
    </div>
</section>
<section class="page-section" id="image-carousel-1">
    <div class="container-fluid">
        <h3>images</h3>
    </div>
</section>
<section class="page-section" id="maps">
    <div class="container-fluid">

        <h3>map</h3>
        <div id="map"></div>

    </div>

</section>

<section class="page-section" id="image-carousel-2">
    <div class="container-fluid">
        <h3>images</h3>
    </div>
</section>
<section class="page-section " id="contact">
     <section class="contact-page-form">
        <div class="container-fluid">
            <div class="row bg-img-contact">
                <div class="col">

                    <div class="contact-heading">
                        <h3>Contact us!</h3>
                        <p>Let us know if you have any coding-meetups you would like to share, or questions, or ideas of how we can empower
                            those who identify as women more in the world of code!
                        </p>
                    </div>
                    <div class="contact-form">


                        <form onsubmit="return sendMail(this);">
                            <input type="text" name="name" class="form-control" id="fullname" placeholder="Name"
                                required />
                            <input type="email" name="emailaddress" class="form-control" id="emailaddress"
                                placeholder="Email" required />
                            <textarea rows="5" name="projectsummary" class="form-control" id="projectsummary"
                                placeholder="Tell us what is on your mind with a 'string'..." required></textarea>
                            <button type="submit" class="btn btn-secondary center-block">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    </div>
    </div>

</section>
</main>

<footer>
    
    {% endblock %}
</footer>