{% extends "base.html" %}
{% block content %}

<h1> test
</h1>

{% for meetup in meetups %}
{{ meetup.name }}<br>
{{ meetup.date }}<br>
{{ meetup.time }}<br>
{{ meetup.address }}<br>
{{ meetup.type }}<br>
{{ meetup.theme }}

<section class="page-section" id="landing-intro">

</section>
<section class="page-section" id="profile/registration">

</section>
<section class="page-section" id="meetups-calendar">

</section>
<section class="page-section" id="image-carousel-1">

</section>
<section class="page-section" id="maps">
    <div id="map"></div>

</section>

<section class="page-section" id="image-carousel-2">

</section>
<section class="page-section" id="contact">
    <div class="container-fluid">
        <div>
            <h3 class="contact-heading uppercase text-center">Do you want to get in touch?</h3>
            <h5 class="uppercase text-center">Let us know if you have any coding meet-ups coming up, questions and
                more...</h5>
        </div>
        <div class="center-form">
            <form onsubmit="return sendMail(this);">
                <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required />
                <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email"
                    required />
                <textarea rows="5" name="message" class="form-control" id="message" placeholder="talk to us..."
                    required></textarea>
                <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
            </form>
        </div>
    </div>
    </div>

</section>
{% endblock %}
</main>

<footer>
{% endfor %}

</footer>
